<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" href="https://content.autotrader.com/content/dam/editorial/oversteer/logo-oversteer.jpg">
  </head>
  <body class="wrapper">
  	{% include navigation.html %}
  	<div class="content">
    {{ content }}
	</div>
	<div class="footer">
  <img
   		src="/assets/logo-oversteer.svg" 
    	alt="Oversteer logo"
    	class="oversteer" />
    </div>
  </body>
</html>